# Ignorer les dossiers node_modules
node_modules/

# Ignorer les fichiers de build
.build/
dist/
.next/

# Ignorer les fichiers de logs
logs/
*.log

# Ignorer les fichiers environnement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignorer les fichiers volumineux spécifiques
node_modules/@next/swc-win32-x64-msvc/next-swc.win32-x64-msvc.node
